GameLetter
{
    font-size: 42px;
    font-weight: black;
    font-family: AzeretMono;
    width: 32px;
    height: 100px;
    top: -32px;
    opacity: 0;
    animation: fade-in-top 0.25s ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes fade-in-top
{
    0%
    {
        top: -32px;
        opacity: 0;
    }

    100%
    {
        top: 0px;
        opacity: 1;
    }
}