@using Sandbox;
@using Sandbox.UI;
@using System.Collections.Generic;
@using System.Linq;
@attribute [StyleSheet]

@namespace GuessIt

<root class="lobby">
    <div class="name">@Lobby.Title</div>
    <div class="bottom">
        <div class="info">
            <div class="members"><i>person</i> @(Lobby.MemberCount + "/" + Lobby.MaxMembers)</div>
            <p class="state waiting">@Lobby.State</p>
        </div>
        <div class="join">
            <button class="btn btn-primary">Join</button>
        </div>
    </div>
</root>

@code
{
    public Sandbox.Menu.ILobby Lobby { get; set; }

    protected override void OnClick(MousePanelEvent e)
    {
        JoinLobby();
    }

    async void JoinLobby()
    {
        bool success = await Lobby.JoinAsync();
        if(success)
        {
            GuessIt.ShowGame(Lobby);
        }
    }
}