ChatEntry
{
    gap: 4px;
    flex-shrink: 0;

    .name
    {
        white-space: nowrap;
        font-weight: 600;
    }

    .content
    {
        
    }

    &.post-game
    {
        color: grey;
    }

    &.guess-correct
    {
        color: limegreen;
    }
}