ChatEntry
{
    gap: 4px;
    flex-shrink: 0;

    .name
    {
        white-space: nowrap;
        font-weight: 600;
    }

    .content
    {
        
    }

    &.post-game
    {
        color: grey;
    }

    &.guess-correct
    {
        color: limegreen;
    }

    &.join-message
    {
        color: rgb(0, 110, 255);
    }

    &.leave-message
    {
        color: rgb(255, 51, 0);
    }

    &.is-drawing
    {
        color: rgb(255, 145, 0);
    }
}