@using Sandbox;
@using Sandbox.UI;
@using System;
@using System.Collections.Generic;
@attribute [StyleSheet]

@namespace GuessIt

<root>

    <div class="content">
        <p class="header">Choose a word!</p>
        <div class="words">
            <div class="word easy" onclick=@ChooseEasy>@EasyWord</div>
            <div class="word medium" onclick=@ChooseMedium>@MediumWord</div>
            <div class="word hard" onclick=@ChooseHard>@HardWord</div>
        </div>
        <div class="timer">
            <div class="timer-bar">
                <div class="timer-bar-fill"></div>
            </div>
        </div>
    </div>

</root>

@code
{
    private string EasyWord { get; set; } = "";
    private string MediumWord { get; set; } = "";
    private string HardWord { get; set; } = "";

    private RealTimeSince Timer = 0f;

    protected override void OnAfterTreeRender(bool firstRender)
    {
        base.OnAfterTreeRender(firstRender);

        if (firstRender)
        {
            Timer = 0f;

            // Choose a random word from each list
            EasyWord = Utils.GetRandomWord(WORD_DIFFICULTY.EASY);
            MediumWord = Utils.GetRandomWord(WORD_DIFFICULTY.MEDIUM);
            HardWord = Utils.GetRandomWord(WORD_DIFFICULTY.HARD);
        }
    }

    public override void Tick()
    {
        base.Tick();

        if (Timer > 15f)
        {
            ChooseRandom();
        }
    }

    void ChooseEasy() { Choose(EasyWord); }
    void ChooseMedium() { Choose(MediumWord); }
    void ChooseHard() { Choose(HardWord); }

    void Choose(string word)
    {
        if(string.IsNullOrEmpty(word)) return;

        GuessIt.Instance.GameMenu.ChooseWord(word);
        this.Delete();
    }

    void ChooseRandom()
    {
        var random = new Random();
        var words = new List<string> { EasyWord, MediumWord, HardWord };
        var word = words[random.Next(words.Count)];

        Choose(word);
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(EasyWord, MediumWord, HardWord);
    }
    
}