@using Sandbox;
@using Sandbox.UI;
@using System;
@using System.Collections.Generic;
@attribute [StyleSheet]

@namespace GuessIt

<root>

    <div class="header">
        <img src="ui/logo.png" class="logo @LogoClass()" />
    </div>

    <div class="big-container">
        
        <div class="game-header">
            <div class="game-info">
                <div class="timer">28</div>
                <div class="round">Round 1 of 3</div>
            </div>

            <div class="game-word">
                <GameHeader @ref="Header" />
            </div>

            <div class="game-settings">
                @if(LobbyState == LOBBY_STATE.WAITING_FOR_PLAYERS && Lobby.Owner.Id == Game.SteamId)
                {
                    <button class="dev" onclick=@StartGame>Start Game</button>
                }
            </div>
        </div>

        <div class="game-container">

            <div class="player-list">
                <p class="header">Players</p>

                <div class="players">

                    @foreach(var player in Lobby.Members)
                    {
                        <div class="player">
                            <div class="avatar">
                                <image texture=@($"avatar:{@player.Id}") />
                                @if(player.Id == Lobby.Owner.Id)
                                {
                                    <img src="ui/host_frame.png" />
                                }
                            </div>
                            <div class="info">
                                <div class="player-name">@player.Name</div>
                                <div class="player-score">Score: 0</div>
                            </div>
                            <div class="rank">##1</div>
                        </div>
                    }
                </div>
                

            </div>

            <div @ref="CanvasContainer" class="game-canvas-container">
                <GameCanvas @ref="CanvasPanel" />
            </div>

            <div class="chat-container">
                <p class="header">Chat</p>

                <div class="chat" @ref="ChatBox" PreferScrollToBottom=@(true)>
                    


                </div>

                <TextEntry @ref="ChatEntry" onsubmit=@SendChat Value:bind=@ChatText Placeholder="Type your guess here..." AllowEmojiReplace=@(true) ></TextEntry>
            </div>

        </div>

    </div>

</root>