PlayerListEntry
{
    padding: 8px;
    transition: all 0.1s ease-out;
    flex-shrink: 0;

    .avatar
    {
        position: relative;
        width: 64px;
        height: 64px;

        .pic
        {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 64px;
            height: 64px;
            background-size: contain;
        }
    }

    .icon-host
    {
        width: 32px;
        height: 32px;
        background-size: contain;
        position: absolute;
    }

    .info
    {
        flex-grow: 1;
        padding-left: 8px;
        font-size: 24px;
        font-weight: 300;
        flex-direction: column;
        justify-content: space-between;

        .player-name
        {
            font-size: 28px;
            font-weight: 500;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .player-score
        {
            font-size: 18px;
            font-weight: 400;
        }
    }

    .rank
    {
        width: 64px;
        height: 64px;
        font-size: 32px;
        font-weight: 500;
        justify-content: center;
        align-items: center;
    }

    &.odd
    {
        background-color: rgb(230, 230, 230);
    }

    &.drawing
    {
        background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.5), rgba(0, 0, 255, 0.5));
    }

    &.correct
    {
        background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.5), rgba(0, 255, 0, 0.5));
    }

}