@using Sandbox;
@using Sandbox.UI;
@using Sandbox.MenuSystem;
@attribute [StyleSheet]

@namespace GuessIt

<root>

    <div class="mainmenu">
        <div class="logo-container">
            <img src="ui/logo.png" class="logo" />
            <p>A game by Carson Kompon</p>
        </div>

        <div class="menu-container">
            <button class="btn btn-primary" onclick=@CreateLobby>Create Lobby</button>
            <button class="btn btn-primary" onclick=@HowToPlay>How To Play</button>
        </div>
    </div>

    <div class="lobbylist">
        <LobbyPanel />
    </div>

</root>

@code
{
    HowToPlayMenu HowToPlayPopup;
    LobbyCreateMenu CreateLobbyPopup;

    async void CreateLobby()
    {
        if(CreateLobbyPopup.IsValid())
        {
            CreateLobbyPopup.Delete();
        }
        CreateLobbyPopup = AddChild<LobbyCreateMenu>();

        Game.Menu.Lobby?.Leave();
        await Game.Menu.CreateLobbyAsync( 16 );
        if(Game.Menu.Lobby is not GameLobby gameLobby) return;
        gameLobby.Access = GameLobby.AccessMode.Private;
        
    }

    void HowToPlay()
    {
        if(HowToPlayPopup.IsValid())
        {
            HowToPlayPopup.Delete();
        }
        HowToPlayPopup = AddChild<HowToPlayMenu>();
    }


}